@charset "utf-8";

head{
	margin:0px;
	
}

.box1 {
	float: right;
	background-color:rgba(245,200,201,1.00);
}

.box2 {
	float: right;
	background-color:rgba(165,181,46,0.66);
}

.table{
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}

.mainbox1 {
	overflow: hidden;
}

/* clearfix */
.mainbox1:before,
.mainbox1:after {
    content: "";
    display: table;
}
 
.mainbox1:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.mainbox1 {
    zoom: 1;
}